.btn {
	margin: auto;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	background: white;
	transition: 200ms ease;
	box-shadow: 0 10px 50px var(--color-bg);
}

.btn:hover {
	box-shadow: 0 10px 50px rgba(141, 111, 255, 0.5);
	transform: translateY(-4px);
	transition: 200ms ease;
}

.text {
	padding: 10px 14px;
	margin: auto;
	border-radius: 12px;
	/*
	white-space: nowrap;
	*/
	font-size: 18px;
	font-family: var(--font-family);
	font-weight: 600;
	text-align: center;
	background: white;
	color: var(--color-bg);

}

@media only screen and (max-width: 600px) {
	.btn {
		min-height: 48px;
	}

	.text {
		font-size: 16px;
		font-weight: 700;
	}
}
