.btn {
	/*margin: auto;*/
	margin-left: 14px;
	margin-right: 14px;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	background: white;
	transition: 200ms ease;
	box-shadow: 0 10px 50px var(--color-bg);
}

.btn:hover {
	box-shadow: 0 10px 50px rgba(141, 111, 255, 0.5);
	transform: translateY(-4px);
	transition: 200ms ease;
}

.text {
	padding: 10px 14px;
	margin: auto;
	border-radius: 12px;
	/*white-space: nowrap;*/
	font-size: 18px;
	font-family: var(--font-family);
	font-weight: 500;
	text-align: center;
	background: white;
	color: var(--color-bg);

}

@media only screen and (max-width: 600px) {
	.btn {
		min-height: 48px;
		box-shadow: none;
		width: 100%;

		margin-left: 0;
		margin-right: 0;
	}

	.text {
		font-size: 16px;
	}
}
