.title {
    margin-top: 150px;
    font-size: 4rem;
    text-align: center;
    color: var(--color-primary);
}

.formWrapper {
    display: flex;
    justify-content: center;
    padding: var(--base-padding);
}

.formClass {
    width: 450px;
}

.formLabel {
    width: 100%;
    display: block;
    margin: 30px auto 4px auto;
    color: var(--color-fg);
}

.formErrorLabel {
    margin: 6px auto 4px auto;
    width: 100%;
    font-weight: 600;
    display: none;
    color: var(--color-error);
}

.formInputField {
    font-family: var(--font-family);
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    outline: none;
    resize: none;
    color: var(--color-gray);
    border-color: var(--color-gray);
    background: var(--color-bg);
}
