.footerRoot ion-icon {
    color: var(--color-gray);
    transition: 100ms ease-in;
}

.footerRoot ion-icon:hover {
    color: var(--color-primary);
    transition: 100ms ease-in;
}

.footerRoot a {
    color: var(--color-gray);
}

.titleWrapper {
    display: flex;
    justify-content: center;
    margin: auto;
}

.line {
    height: 1px;
    width: 500px;
    margin: auto 32px;
    background-color: #181818;
}

.futureblur {
    color: var(--color-gray);
    text-align: center;
    font-size: 2rem;
    font-family: Manrope, var(--font-family);
    letter-spacing: -0.08rem;
}

.socialsWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 130px;
    margin: 10px auto 20px auto;
}

.linksWrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
    padding: var(--base-padding);
}

.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.boldHeader {
    color: var(--color-gray);
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0;
}

.linkItem {
    margin: 2px 0;
    font-size: 1rem;
    transition: 100ms ease-in;
}

.linkItem:hover {
    color: var(--color-primary);
    transition: 100ms ease-in;
}

.version {
    display: inline-block;
    margin: 70px auto 10px auto;
    color: var(--color-gray);
    text-align: center;
    width: 100%;
}

.copyright {
    display: inline-block;
    margin: auto 0 20px auto;
    width: 100%;
    text-align: center;
    color: var(--color-dark-gray);
}

@media only screen and (max-width: 700px) {
    .footerRoot h3 {
        font-size: 24px;
        letter-spacing: -0.7px;
    }

    .footerRoot span {
        font-size: 14px;
    }

    .footerRoot a {
        font-size: 14px;
    }
}
