.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.textWrapper {
	margin: auto;
	width: 100%;
}

.title {
	text-align: center;
	margin-bottom: 0;
}

.subTitle {
	text-align: center;
	margin-top: 0;
	color: var(--color-gray);
	font-weight: 500;
	animation: pulse 800ms infinite;
}

@keyframes pulse {
	0% {
		opacity: 20%;
	}

	100% {
		opacity: 100%;
	}
}
