---
import type { CollectionEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";

interface Props {
    item: CollectionEntry<"store">;
}

const { item } = Astro.props;

function getSlug() {
    return item.id.substring(3);
}

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/store/**/*.{jpg, jpeg, png}",
);

const coverPath = `/src/assets/store/${getSlug()}/cover.jpg`;
if (!images[coverPath]) {
    throw new Error("Cover image path does not exist.");
}

function isNew() {
    const now = new Date();
    const delta =
        now.getMonth() -
        item.data.releaseDate.getMonth() +
        12 * (now.getFullYear() - item.data.releaseDate.getFullYear());

    return delta <= 2;
}

function getPriceText(price: number) {
    return price === 0
        ? "Free"
        : price.toLocaleString("us", {
              minimumFractionDigits: 2,
              style: "currency",
              currency: "USD",
              trailingZeroDisplay: "stripIfInteger",
          });
}
---

<a
    href="#"
    class="-mx-[0.5px] -my-[0.5px] inline-flex basis-1/2 flex-col border border-neutral-700 md:basis-1/3 lg:basis-1/4"
>
    <Image src={images[coverPath]()} alt={"Alt"} width={800} height={960} />
    <div class="mb-10 flex flex-col space-y-12 text-center font-mono">
        <div class="flex flex-col space-y-1.5">
            <span
                class=`text-accent text-sm ${!isNew() && "invisible"}`
                aria-hidden={!isNew()}>New</span
            >
            <span class="uppercase">{item.data.shortName}</span>
        </div>
        <span>{getPriceText(item.data.price)}</span>
    </div>
</a>
