---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

interface Props {
    selectedIndex: number;
    basePath: string;
}

const { selectedIndex, basePath } = Astro.props;

function getTabColor(index: number) {
    return selectedIndex !== index && "text-neutral-700";
}

function getDestination(tab: "home" | "gallery" | "details") {
    let url = basePath;

    // Remove trailing slash
    if (url.endsWith("/")) url = url.slice(0, -1);

    const isInHome = selectedIndex === 0;
    if (!isInHome) {
        url = url.substring(0, url.lastIndexOf("/"));
    }

    let slug = ("/" + tab) as string;
    if (slug === "/home") slug = "";

    return url + slug;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col gap-7">
    <div class="flex gap-8 font-mono text-sm text-black">
        <a class:list={[getTabColor(0)]} href={getDestination("home")}
            >{t("store.nav.home")}</a
        >
        <a class:list={[getTabColor(1)]} href={getDestination("gallery")}
            >{t("store.nav.gallery")}</a
        >
        <a class:list={[getTabColor(2)]} href={getDestination("details")}
            >{t("store.nav.details")}</a
        >
    </div>
    <hr />
</div>
