---
import { getCollection } from "astro:content";
import { STORE } from "@consts";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { languages } from "@i18n/ui";

import Layout from "@layouts/Layout.astro";
import Item from "@components/Store/Item.astro";

export async function getStaticPaths() {
    const store = (await getCollection("store")).sort(
        (a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf(),
    );

    const paths = store.flatMap((item) =>
        languages.map((lang) => ({
            params: { lang, slug: item.id || undefined },
            props: item,
        })),
    );

    return paths;
}

let items = await getCollection("store");
const mockStore = true;
if (mockStore) {
    items = [...items, ...items, ...items, ...items, ...items];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
    title={STORE.TITLE}
    siteName="Futureblur Store"
    description={t("store.description")}
    cover={STORE.COVER}
>
    <div class="page-spacing max-w-screen-3xl mx-auto px-5">
        <div class="flex justify-center space-y-10">
            <section
                class="animate flex max-w-screen-2xl flex-col space-y-3 md:space-y-4"
            >
                <h1>Starter Kits</h1>
                <div
                    class="flex flex-wrap gap-3 md:grid md:grid-cols-3 md:gap-4 lg:grid-cols-4"
                >
                    {items.map((item) => <Item item={item} />)}
                </div>
            </section>
        </div>
    </div>
</Layout>
