@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Instrument Serif";
    src: url("/fonts/Serif/InstrumentSerif-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --header-height: 48px;
    --clip: inset(0 0 calc(100% - var(--header-height)) 0);
}

html {
    overflow-x: hidden;
    overflow-wrap: break-word;
    scroll-padding-top: 100px;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-neutral-100 dark:bg-neutral-900;
    @apply text-black/75 dark:text-white/75;
}

.home-layout {
    margin-top: calc(0px - var(--header-height));
}

header {
    @apply sticky left-0 right-0 top-0 z-50;
    transition: all 300ms ease-out 270ms;
}

header.mobileExpanded {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px) saturate(100%);
    transition: all 50ms ease;
}

#curtain {
    @apply bg-neutral-100/85;

    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 20;
    padding: 1rem;

    filter: none;
    backdrop-filter: blur(30px) saturate(200%);
    -webkit-transform: translate3d(0,0,0);

    transform: translate3d(0,0,0);
    transition: all 400ms ease;
}

#curtain ul {
    padding-top: calc(var(--header-height) - 44px);
    
    filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    
    transition: all 400ms ease;
}

#curtain.blur {
    height: 100vh;

    backdrop-filter: blur(60px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.8);

    transition: all 400ms ease;
}

#curtain.blur ul {
    padding-top: calc(var(--header-height) - 20px);

    filter: blur(0px);
    opacity: 1;
    pointer-events: auto;
    
    transition: all 500ms ease 80ms;
}

.dropdown {
    max-height: 0;
    padding: 0 10px;
    overflow: hidden;

    transition: ease 400ms;
}

.dropdown.show {
    max-height: 500px;
    margin: 20px 0 20px 0;

    transition: ease 450ms;
}

footer {
    @apply py-6 text-sm;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.hide {
    max-height: 0;
    overflow: hidden;
    transition: ease 350ms;
}

.page-spacing {
    @apply md:pt-4 pt-2;
}

.button {
    @apply rounded-full text-sm text-white p-1.5 px-3 bg-black/85 font-mono cursor-pointer;
}


.button-secondary {
    @apply rounded-full text-sm p-1.5 px-3 font-mono cursor-pointer bg-white text-black;
}

.button-large {
    @apply py-2 px-3.5;
}

.button-larger {
    @apply py-2.5 px-4;
}

article {
    @apply prose prose-neutral max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold;
    @apply prose-headings:text-black prose-headings:dark:text-white;
    @apply prose-code:before:hidden prose-code:after:hidden;
}

article h1 {
    @apply pt-8;
    @apply tracking-tight md:text-3xl text-2xl font-light;
}

article h2 {
    @apply tracking-tight text-2xl pt-4 hyphens-manual;
}

article h3 {
    @apply pt-6;
}

article p:has(img + em) {
    @apply -mx-6 py-8 lg:-mx-28;
}

article img {
    @apply md:rounded-lg pointer-events-none;
}

article img + em {
    @apply mt-5 px-6 lg:px-28 block w-full text-xs tracking-wide font-bold text-black/80 not-italic;
}

@layer utilities {
    article a {
        @apply font-sans text-current underline underline-offset-[3px];
        @apply decoration-black/30 dark:decoration-white/30;
        @apply transition-colors duration-300 ease-in-out;
    }

    article a::after {
      content: "↗";
      @apply ml-0;
    }

    article a:hover {
        @apply text-black dark:text-white;
        @apply decoration-black/50 dark:decoration-white/50;
    }
}

.no-arrow::after {
    content: none;
}

.animate {
    @apply -translate-y-3 opacity-0;
    @apply transition-all duration-300 ease-out;
}

.animate.show {
    @apply translate-y-0 opacity-100;
}

html #back-to-top {
    @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
    @apply pointer-events-auto opacity-100;
}

/* shiki config */
pre {
    @apply border border-black/15 py-5 dark:border-white/20;
}

