---
import type { ui } from "@i18n/ui";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import type { NavigationLink } from "@types";

const { link } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

function getLinkTitle(link: NavigationLink) {
    return link.title as keyof (typeof ui)[typeof lang];
}
---

<li class="text-black">
    <a href={link.url} target={link.external ? "_blank" : "_self"} class="py-3">
        {t(getLinkTitle(link))}
    </a>
</li>
