---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <title>CMS — Futureblur</title>
        <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    </head>
    <body>
        <link rel="stylesheet" href="/admin/dark.css" />
        <script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"
        ></script>
    </body>
</html>
