---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Project Files — Futureblur">
    <div class="h-screen justify-center flex">
        <div
            class="flex flex-col text-center m-auto w-full max-w-5xl space-y-14 px-4"
        >
            <h1
                class="font-thin tracking-tight px-4 text-5xl sm:text-7xl md:text-8xl lg:text-9xl leading-tight lg:leading-[144px] text-white from-[#4d4d4d] to-[#fbfbfb] max-w-4xl m-auto bg-clip-text text-transparent"
            >
                Look for <span
                    class="bg-[#3B406E] p-4 py-0 text-[#C9CDFB] rounded-2xl font-mono font-normal"
                    >#files</span
                >
                after joining.
            </h1>
            <div
                class="flex flex-col m-auto justify-center items-center w-full md:max-w-lg space-y-10"
            >
                <h2 class="text-md md:text-lg text-center text-white/50">
                    You're about to be redirected.
                </h2>
                <div class="inline-block w-full sm:max-w-xs space-y-2">
                    <button
                        type="submit"
                        id="join-button"
                        class="w-full p-3 bg-white font-bold rounded-md text-center"
                    >
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script>
    function capture(redirect) {
        window.posthog.capture("user_joined_discord", {
            source: "project files",
            auto_redirect: redirect,
        });
    }

    setTimeout(() => {
        capture(true);
        window.location.replace("https://discord.gg/blurads");
    }, 3300);

    const button = document.querySelector("#join-button");
    if (button) {
        button.addEventListener("click", () => {
            capture(false);
        });
    }
</script>
