---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Futureblur — Your 3D platform.">
    <div class="flex h-screen justify-center">
        <div
            class="m-auto flex hidden w-full max-w-5xl flex-col space-y-14 px-4 text-center"
        >
            <h1
                class="px-4 font-serif text-5xl font-thin leading-tight tracking-tight text-primary sm:text-7xl md:text-8xl lg:text-9xl lg:leading-[144px]"
            >
                Your 3D platform.
            </h1>
            <div
                class="m-auto flex w-full flex-col items-center justify-center space-y-10 md:max-w-lg"
            >
                <div class="inline-block w-full space-y-2 sm:max-w-xs">
                    <a
                        type="submit"
                        id="notify-button"
                        href="https://fut.red/d"
                        class="rounded-full bg-red p-3 px-6 font-medium text-secondary"
                    >
                        Join waitlist
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>
