---

---
<footer class="bg-neutral-900/50">
    <span class="block w-full h-[1px] bg-neutral-800 mb-8"></span>
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-row space-x-4 text-neutral-400">
            <a href="https://twitter.com/rdsov" target="_blank" rel="noopener noreferrer">X 🪶</a>
            <a href="https://instagram.com/blur4d" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://youtube.com/@futureblur" target="_blank" rel="noopener noreferrer">YouTube</a>
            <a href="https://www.linkedin.com/rasuladasov" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://futureblur.com/legal" target="_blank" rel="noopener noreferrer">Legal Notice</a>
        </div>
        <div class="space-y-1 py-8">
            <p class="text-neutral-500 text-center">Crafted with care by Rasul Adasov.</p>
            <p class="text-neutral-500 text-center">Copyright © 2024 Futureblur. All rights reserved.</p>
        </div>
    </div>
</footer>