---
import FutureblurLogo from "./Navigation/FutureblurLogo.svelte";
---
<footer class="flex justify-center">
    <div class="flex flex-col">
        <div>
            <div class="flex items-center gap-1">
                <FutureblurLogo/>
                <div class="space-x-2">
                    <span>/</span>
                    <span>News</span>
                </div>
            </div>
            <span>Germany</span>
        </div>
        <div>
            <span>&copy; 2024 Futureblur</span>
        </div>
    </div>
    <div>
        
    </div>
</footer>
