---

---
<footer class="bg-neutral-900/50">
    <span class="block w-full h-[1px] bg-neutral-800 mb-6"></span>
    <div class="flex flex-col justify-center md:items-center p-6 text-sm">
        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 text-neutral-400">
            <a href="https://futureblur.com/ig" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://futureblur.com/yt" target="_blank" rel="noopener noreferrer">YouTube</a>
            <a href="https://linkedin.com/in/rasuladasov" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="https://futureblur.com/legal" target="_blank" rel="noopener noreferrer">Legal Notice</a>
            <a href="https://futureblur.com/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            <a href="https://futureblur.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a>
        </div>
        <div class="space-y-1 py-8 md:text-center">
            <p class="text-neutral-500">Crafted with care by Rasul Adasov.</p>
            <p class="text-neutral-500">Copyright © 2024 Futureblur. All rights reserved.</p>
        </div>
    </div>
</footer>