---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import NavBar from "./Navigation/NavBar.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
    <div class="mx-auto max-w-screen-lg px-4">
        <div class="flex flex-wrap justify-between gap-y-2">
            <NavBar />
        </div>
    </div>
</header>
