---

---

<header
    class="flex flex-col font-mono flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full text-sm py-4 fixed border-b-[1px] border-neutral-800 bg-black"
>
    <!--Announcement Banner-->
    <div
        class="hidden bg-blue-300 w-full p-3 -mt-4 mb-3 flex justify-center animate-banner-reveal transition-all"
    >
        <span class="text-center font-bold"
            >Over already?! 2023 has been quite the roller coaster ride... Happy
            holidays!</span
        >
    </div>
    <nav
        class="max-w-[85rem] w-full mx-auto px-10 sm:flex sm:items-center sm:justify-between"
        aria-label="Global"
    >
        <div class="flex items-center justify-between">
            <a class="flex-none" href="https://futureblur.com">
                <img
                    class="h-8"
                    src="/images/futureblur-lockup.svg"
                    alt="Futureblur"
                />
            </a>
            <div class="sm:hidden">
                <button
                    type="button"
                    class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-gray-700 dark:text-white dark:hover:bg-white/10 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    data-hs-collapse="#navbar-image-1"
                    aria-controls="navbar-image-1"
                    aria-label="Toggle navigation"
                >
                    <svg
                        class="hs-collapse-open:hidden flex-shrink-0 w-4 h-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <line x1="3" x2="21" y1="6" y2="6"></line>
                        <line x1="3" x2="21" y1="12" y2="12"></line>
                        <line x1="3" x2="21" y1="18" y2="18"></line>
                    </svg>
                    <svg
                        class="hs-collapse-open:block hidden flex-shrink-0 w-4 h-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div
            id="navbar-image-1"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
        >
            <div
                class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5"
            >
                <p
                    class="text-white/50 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 pointer-events-none"
                >
                    v4.1
                </p>
                <a
                    class="text-white dark:hover:text-neutral-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-neutral-600 transition-all"
                    href="https://github.com/Futureblur/.github/blob/daee507d579532f44eec41373cf5b1303c0d7165/profile/README.md"
                    >Philosophy</a
                >
                <a
                    class="text-white dark:hover:text-neutral-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:neutral transition-all"
                    href="https://github.com/Futureblur">Open Source</a
                >
            </div>
        </div>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggleButton = document.querySelector(".hs-collapse-toggle");
        const navbar = document.querySelector("#navbar-image-1");

        toggleButton?.addEventListener("click", () => {
            navbar?.classList.toggle("hidden");
        });
    });
</script>

