---
import NavBar from "./Navigation/NavBar.svelte";
---

<header
    class="fixed z-50 mt-2 flex w-full transform-gpu flex-wrap justify-center text-sm sm:mt-4 sm:flex-nowrap"
>
    <!--Announcement Banner-->
    <div
        class="-mt-4 mb-3 flex hidden w-full animate-banner-reveal justify-center bg-blue-300 p-3 transition-all"
    >
        <span class="text-center font-bold"
            >Over already?! 2023 has been quite the roller coaster ride... Happy
            holidays!</span
        >
    </div>
    <NavBar client:only />
</header>
