---
import NavBar from "./Navigation/NavBar.astro";
---

<header>
    <div class="mx-auto max-w-screen-lg px-4 font-mono">
        <div class="flex flex-wrap justify-between gap-y-2">
            <NavBar />
        </div>
    </div>
</header>
