---
import CloseIcon from "./Icons/CloseIcon.astro";
---

<div
    class="mx-auto hidden w-full py-3 font-mono text-xs text-black"
    id="locale-header"
>
    <div
        class="mx-auto flex w-full max-w-screen-lg items-center justify-between gap-3 px-4"
    >
        <span id="locale-description"
            >Based on your location, the English version of our site might be a
            better fit.</span
        >
        <div class="flex items-center gap-1">
            <a
                class="rounded-full bg-black/85 p-1.5 px-3 text-sm text-white"
                id="locale-switch-button"
                type="button">Switch</a
            >
            <button class="p-2" id="locale-close-button"><CloseIcon /></button>
        </div>
    </div>
</div>

<script>
    import { getLangFromUrl, useTranslations } from "@i18n/utils";

    function init() {
        const header: HTMLDivElement = document.querySelector(
            "#locale-header",
        ) as HTMLDivElement;

        const description: HTMLSpanElement = document.querySelector(
            "#locale-description",
        ) as HTMLSpanElement;

        const switchButton: HTMLAnchorElement = document.querySelector(
            "#locale-switch-button",
        ) as HTMLAnchorElement;

        const closeButton: HTMLButtonElement = document.querySelector(
            "#locale-close-button",
        ) as HTMLButtonElement;

        const locale = navigator.language;
        if (locale) {
            const currentLang = getLangFromUrl(new URL(window.location.href));

            const localeShort = locale.split("-").shift();
            const preferredLang = getLangFromUrl(
                new URL(`https://futureblur.com/${localeShort}`),
            );

            if (currentLang === preferredLang) {
                return;
            }

            if (localStorage.getItem("hideLocaleHeader") === "true") {
                return;
            }

            closeButton.onclick = () => {
                localStorage.setItem("hideLocaleHeader", "true");
                header.style.display = "none";
            };

            if (preferredLang) {
                if (header) {
                    header.style.display = "flex";
                }

                const t = useTranslations(preferredLang);

                if (description) {
                    description.innerHTML = t("header.locale.description");
                    switchButton.innerHTML = t("header.locale.switch");

                    const path = window.location.pathname;
                    let cleanPath = path.slice(1).replace(`${currentLang}`, "");

                    switchButton.href = `/${preferredLang}${cleanPath}`;
                }
            }
        }
    }

    if (document.readyState !== "loading") {
        init();
    } else {
        document.addEventListener("DOMContentLoaded", init);
    }
</script>
