@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

#title {
    font-size: 2.5rem;
    letter-spacing: -0.12rem;
}

h1 {
    max-width: 750px;
    margin: 1em auto auto auto;
    padding: 2.5em 24px 0 24px;
    text-align: left;
    letter-spacing: -0.1rem;
    font-size: 2rem;
}

h2 {
    max-width: 750px;
    margin: auto;
    padding: 2.5em 24px 10px 24px;
    text-align: left;
    letter-spacing: -0.03rem;
    font-size: 1.5rem;
}

h3 {
    max-width: 750px;
    margin: auto;
    padding: 30px 24px 12px 24px;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-header-accent);
}

.hr-div {
    max-width: 750px;
    margin: auto;
    padding: var(--min-padding);
}

.hr-div hr {
    display: inline-block;
}

ul {
    color: var(--color-header-accent);
    max-width: 714px;
    margin: 30px auto;
    padding: var(--min-padding);
}

ul li {
    color: var(--color-p);
    font-size: 0.9rem;
    line-height: 1.4rem;

    padding: 10px 0;
    list-style-position: inside;
}

ul p {
    padding: 0;
    display: inline;
}

strong {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-p);
}

@media only screen and (max-width: 580px) {
    #title {
        font-size: 1.5rem;
        letter-spacing: -0.05rem;
    }

    h1 {
        font-size: 1.3rem;
        letter-spacing: -0.05rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .hr-div hr {
        margin: 25px auto;
    }

    strong {
        font-size: 0.8rem;
    }

    ul li {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}