---
title: "News"
layout: "base.njk"
---
<h1>Latest news</h1>
<ul>
    {% for post in collections.post | reverse %}
        <a href="{{ post.url }}">
            <div>
                <img src="{{ post.data.cover}}" alt="{{ post.data.coverAlt }}"/>
                <div>
                    <div>
                        <span>{{ post.data.type }}</span>
                        <h3>{{ post.data.title }}</h3>
                    </div>
                    <span>{{ post.date | postDate }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
</ul>