@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

#wrapper .link-wrapper {
    display: flex;
    max-width: 750px;
    margin: auto;
    padding: var(--min-padding);
}