@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

h1 {
    max-width: 750px;
    margin: 1em auto auto auto;
    padding: 2.5em 24px 0 24px;
    text-align: left;
    letter-spacing: -0.1rem;
    font-size: 3rem;
}

h2 {
    max-width: 750px;
    margin: auto;
    padding: 2.5em 24px 0 24px;
    text-align: left;
    letter-spacing: -0.03rem;
    font-size: 1.5rem;
}

h3 {
    max-width: 750px;
    margin: auto;
    padding: 40px 24px 12px 24px;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-header-accent);
}

.hr-div {
    max-width: 750px;
    margin: auto;
    padding: var(--min-padding);
}

.hr-div hr {
    display: inline-block;
}

@media only screen and (max-width: 460px) {
    h1 {
        font-size: 1.6rem;
        letter-spacing: -0.05rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .hr-div hr {
        margin: 25px auto;
    }
}