@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    letter-spacing: -0.25rem;
    white-space: nowrap;
}

.btn-text {
    font-weight: 700;
}

#home {
    margin-bottom: 370px;
}

#home h2 {
    margin-top: 0.3em;
    color: var(--color-header-accent);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
}

#home h2 a {
    font-size: 1rem;
    font-weight: 700;
}

@media only screen and (max-width: 740px) {
    h1 {
        font-size: 14vw;
    }

    #home h2 {
        font-size: 0.9rem;
    }

    #home h2 a {
        font-size: 0.9rem;
    }

    #home {
        margin-bottom: 300px;
    }

    #home-buttons {
        display: grid;
    }

    #home-buttons button {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        letter-spacing: -0.13rem;
        margin-top: 1.4em;
    }
}

#home-buttons-wrapper {
    display: flex;
    margin-top: 4em;
    padding: var(--min-padding);
}

#home-buttons {
    display: inline-block;
    margin: auto;
}

#projects {
    margin-bottom: 280px;
}

#projects .img-responsive {
    max-width: 900px;
}

#about {
    margin-bottom: 250px;
}

#skills {
    margin-bottom: 270px;
}

#skills-parent {
    display: flex;
}

#skills-wrapper {
    width: 600px;
    margin: auto;
    padding: var(--min-padding);
}

#skills-wrapper .skills-item {
    display: flex;
    margin-bottom: 10px;
}

#skills-wrapper p {
    padding: 0;
    display: inline-block;
    margin: auto auto auto 0;
}

#skills-wrapper .skills-progress-bar {
    margin-right: 0;
    min-width: 160px;
}

#skills .dot {
    border-radius: 50%;
    display: inline-block;
    background: #ECB647;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 12px;
}

@media only screen and (max-width: 580px) {
    #skills .dot {
        height: 18px;
        width: 18px;
        margin-left: 10px;
    }
}