@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

#privacy h2 {
    margin-bottom: 10px;
}

#privacy ul {
    color: var(--color-header-accent);
    max-width: 714px;
    margin: 30px auto auto auto;
    padding: var(--min-padding);
}

#privacy ul li {
    color: var(--color-p);
    font-size: 0.9rem;
    padding: 10px 0;
    list-style-position: inside;
}

#privacy ul p {
    padding: 0;
    display: inline;
}

#privacy strong {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-p);
}