@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-family: Inter, serif;
    font-weight: 500;
    letter-spacing: -0.03rem;

    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --color-bg: #000000;
    --color-btn: white;
    --color-header: white;
    --color-header-accent: #9f9f9f;
    --color-p: gray;
    --color-yellow: #ecb647;
    --color-dark-gray: #5a5a5a;
    --color-border: #262626;
    --color-error: #e71f1f;

    --min-padding: 0 24px;
}

body {
    background-color: var(--color-bg);
    font-family: Inter, serif;
}

hr {
    height: 6px;
    width: 50px;
    background-color: var(--color-yellow);
    border: none;
    margin: 40px auto;
}

h1 {
    color: var(--color-header);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    padding: 3em 40px 0 40px;
}

h2 {
    color: var(--color-header);

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.08rem;
    text-align: center;

    margin-top: 30px;
    padding: var(--min-padding);
}

p {
    font-size: 0.9rem;
    letter-spacing: -0.02rem;
    line-height: 1.4rem;

    color: var(--color-p);
    max-width: 750px;
    margin: auto;
    padding: var(--min-padding);
}

.p-margin-top {
    margin-top: 130px;
}

a {
    transition: 150ms;
    font-size: 0.9rem;
    letter-spacing: -0.03rem;
    text-decoration: underline;
    text-decoration-color: var(--color-yellow);
    color: var(--color-yellow);
}

a:hover {
    transition: 150ms;
    text-decoration: none;
    color: black;
    background: var(--color-yellow);
}

figcaption {
    color: var(--color-dark-gray);
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    padding: var(--min-padding);
}

.img-responsive-wrapper {
    display: flex;
    justify-content: center;
}

.img-responsive {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: auto;
}

.btn {
    transition: 200ms;

    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    font-family: Inter, serif;
    letter-spacing: -0.05rem;
    background: transparent;
    color: var(--color-btn);
    border: solid var(--color-btn);
    padding: 15px 30px;
    margin: auto 4px;
    display: inline-flex;
    cursor: pointer;
}

.btn-icon {
    vertical-align: middle;
    display: flex;
    margin: auto;
}

.btn-text {
    text-align: center;
    margin: auto auto auto 10px;
    font-size: 0.8rem;
}

.btn:hover {
    transition: 150ms;
    color: var(--color-bg);
    background: var(--color-btn);
}

.border {
    width: 100%;
    height: 1px;
    background: var(--color-border);
    margin: auto;
}

#nav-bar-wrapper {
    display: flex;
    justify-content: center;
    background: var(--color-bg);
    box-shadow: inset 0 -1px 0 0 var(--color-border);

    width: 100%;
    padding: 12px 0;
    position: fixed;
    z-index: 10;
    top: 0;

    transition: top 350ms;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    padding: 0 24px;
}

#nav-bar .nav-bar-left {
    display: flex;
    align-items: center;
    height: 60px;
}

#nav-bar img {
    content: url("../img/logos/futureblur-logo-full.png");
    margin-left: 25px;
    height: 48px;
    image-rendering: -webkit-optimize-contrast;
    transition: 150ms;
}

#nav-bar .nav-bar-left a:hover {
    background: none;
}

#nav-bar .nav-bar-right {
    display: flex;
    align-items: center;
}

#nav-bar a {
    margin-right: 25px;

    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: -0.03rem;
    color: var(--color-header-accent);

    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav-bar .nav-bar-right a:hover {
    color: var(--color-yellow);
    background: none;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#burger {
    display: none;
    cursor: pointer;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}

#burger::before {
    content: "";
    height: 2px;
    width: 22px;
    margin: 4px 0;

    background-color: var(--color-header);
}

#burger::after {
    content: "";
    height: 2px;
    width: 22px;
    margin: 4px 0;

    background-color: var(--color-header);
}

#burger ion-icon {
    color: white;
}

.youtube-embed-wrapper {
    overflow: hidden;
    margin: 30px auto auto auto;
    position: relative;
    max-width: 750px;
    height: 425px;
    padding: var(--min-padding);
}

.youtube-embed-wrapper iframe, embed {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 580px) {
    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    a {
        font-size: 0.8rem;
    }

    .youtube-embed-wrapper {
        height: 260px;
    }

    .youtube-embed-wrapper iframe, embed {
        min-height: 100px;
        height: 260px;
    }

    #nav-bar-wrapper {
        padding: 4px 0;
    }

    #nav-bar-wrapper img {
        height: 38px;
        margin-left: 0;
    }

    #nav-bar .nav-bar-right {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #nav-bar .nav-bar-right a {
        margin: 15px auto;
        overflow: hidden;
    }

    #burger {
        display: flex;
    }

    #burger::before {
        transform: translate(0px) rotate(0deg);
        transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    #burger::after {
        transform: translate(0px) rotate(0deg);
        transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    #burger.active::before {
        transform: translateY(5px) rotate(45deg);
        transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    #burger.active::after {
        transform: translateY(-5px) rotate(-45deg);
        transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    #nav-bar .nav-bar-right.active {
        display: flex;
        animation: nav-bar-slide 700ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        margin-top: -15px;
    }

    @keyframes nav-bar-slide {
        from {
            transform: translateY(-30%);
        }
        to {
            transform: translate(0%);
        }
    }
}

footer {
    padding-top: 50px;
}

footer p {
    padding: 0;
}

#footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px auto auto auto;
    max-width: 700px;
    padding: var(--min-padding);
}

#footer-wrapper p {
    font-size: 0.8rem;
    letter-spacing: -0.01rem;
    font-weight: 700;
    color: var(--color-dark-gray);
}

#footer-wrapper a {
    color: var(--color-header-accent);
    text-decoration: none;
}

#footer-wrapper a:hover {
    color: var(--color-dark-gray);
    background: none;
}

#footer-wrapper .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 14px 0 0 0;
    max-width: 180px;
}

#footer-wrapper .footer-social-list a {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    opacity: 0.5;
    margin: auto 7px auto 0;
    transition: opacity 200ms;
}

#footer-wrapper .footer-social-list a:hover {
    opacity: 0.25;
    transition: opacity 200ms;
}

#footer-wrapper .footer-social-list span {
    display: flex;
}

#footer-wrapper .footer-social-list img {
    scale: 90%;
}

footer .btn {
    margin: 0;
    padding: 10px 0;
    border: solid 0 var(--color-header-accent);
}

footer .btn:hover {
    background: none;
}

footer .btn-icon, footer .btn-text {
    color: var(--color-header-accent);
}

footer .btn-text {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: -0.03rem;
}

#footer-wrapper .footer-section-list {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

#footer-wrapper .footer-section-list a {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: -0.03rem;

    margin: 4px 0;
}

footer .footer-legal {
    margin-top: 90px;
}

footer .footer-legal p {
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: -0.03rem;
}

footer .footer-legal-list {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto 20px auto;
    width: 250px;
}

footer .footer-legal-list a {
    color: var(--color-dark-gray);

    font-size: 0.7rem;
    text-decoration: none;
    letter-spacing: -0.03rem;
}

footer .footer-legal-list a:hover {
    background: none;
    color: var(--color-dark-gray);
}
