name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        
      - name: Install and Build
        run: | 
          mkdir -p dist
          cp -r v3/out/* dist
          
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.0.0
        with:
          BRANCH: v3
          FOLDER: dist
